/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para el encabezado principal */
h1 {
    text-align: center;
    margin-top: 10px;
}

/* Estilos para el contenido principal */
main {
    text-align: center;
    min-height: 80vh;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos dentro del contenido principal */
main h2 {
    font-size: 24px;
    color: #333;
}

/* Estilos para el texto dentro del contenido principal */
main p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Estilos para el pie de página */
footer {
    background-color: #696868;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #797878;
}

/* Estilos para los botones "Crear" y "Cancelar" */
.button-crear, .button-cancelar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-crear {
    border-color: #007bff;
    color: #007bff;
    background-color: #fff;
}

.button-crear:hover {
    background-color: #007bff;
    color: #fff;
}

.button-cancelar {
    border-color: #ff3c00;
    color: #ff3300;
    background-color: #fff;
}

.button-cancelar:hover {
    background-color: #ff3c00;
    color: #fff;
}

/* Estilos para la tabla */
.tabla {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
}

/* Estilos para las celdas de la tabla */
.celda {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: tahoma;
}

/* Estilos para la cabecera de la tabla */
.cabecera {
    font-weight: bold;
    background-color:  #0056b3;
    color: #ccc;
    font-family: 'Lucida Sans';
    font-size: medium;
}

/* Estilos para las filas impares */
.fila-impar {
    background-color: #f9f9f9;
}

/* Estilos para el contenedor del formulario */
.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* Estilos para el formulario */
.formulario {
    max-width: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilos para los campos del formulario */
.formulario input[type="text"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón del formulario */
.formulario button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Cambio de estilo al pasar el mouse sobre el botón */
.formulario button:hover {
    background-color: #0056b3;
}

/* Estilos para un botón genérico */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

/* Cambia el color del botón cuando se pasa el cursor sobre él */
.boton:hover {
    background-color: #0056b3;
}

