<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="/posts">Go back</a>
    <h1>Create new note</h1>

    <form action="/posts" method="post">
        <input type="text" name="titulo_post" placeholder="Titulo del Post"><br>
        <textarea name="contenido_post" cols="30" rows="10" placeholder="Contenido del post"></textarea><br>
        <input type="text" name="link_post" placeholder="Link imagen post"><br>
        <button>Create Post</button>
    </form>
</body>
</html>